<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% if error %}
  <h1 style="color:red"> {{ error }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
    <form action="/" method="post">
        <h4>username</h4>
        <input id="username" name="username" type="text"/>
        <h4>password</h4>
        <input id="password" name="password" type="password"/>

        <br>
        <br>
        <br>

        <button type="submit">LOGIN</button>
    </form>
</body>
</html>